<div class="container">
    <div class="row">
      <div class="left-style col-md-6">
         <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="{{product.imgPath}}" width="286" height="280"  alt="Card image cap"> -->
            <div class="card-body">
              <h5 class="card-title">Order Placed successfully</h5>
              <h5 class="card-text">Order ID : {{orderId.orderId}}</h5>
              <p class="card-text">{{product.productName}}</p>
              <p class="card-text">Details : {{product.description}}</p>
              <p class="card-text">Seller : {{product.sellerId}}</p>
              <p class="card-text">Quantity : {{product.quantity}}</p>
              <p class="card-text">Total Price : {{product.totalPrice | currency:'INR':true:'1.2'}}</p>
              
              <a href="#" class="btn btn-primary" (click)="goToAllProduct()">Continue</a>
              &nbsp;
              <a href="#" class="btn btn-primary" (click)="trackOrder()">Track Order</a>
            </div>
          </div>
    </div>
  </div>
</div>
<div class="lds-hourglass"></div>
